1. Say "Hello, World!" with python

In [2]:
str1 = "Hello, World!"
print(str1)

Hello, World!

In [13]:
new_str = "Hello, World!"
if new_str == "Hello, World!":
    print(new_str)

Hello, World!

2. Given an integer, , perform the following conditional actions:
   * If  n is odd, print Weird
   * If n is even and in the inclusive range of 2 to 5, print Not Weird
   * If n is even and in the inclusive range of 6 to 20, print Weird
   * If n is even and greater than 20, print Not WeirdWeird

In [18]:
n = int(input())

if n % 2 != 0:
    print("Weird")
elif n <= 5:
    print("Not Weird")
elif n <= 20:
    print("Weird")
else:
    print("Not Weird")

 3

Weird

3. The provided code stub reads two integers from STDIN, a and b. Add code to print three lines where:
    * The first line contains the sum of the two numbers.
    * The second line contains the difference of the two numbers (first - second).
    * The third line contains the product of the two numbers.

In [21]:
a = int(input())
b = int(input())

print(a+b)
print(a-b)
print(a*b)

 15
 5

20
10
75

In [23]:
a = int(input())
b = int(input())

if True:
    print(a+b)
if True:
    print(a-b)
if True:
    print(a*b)

 15
 5

20
10
75

4. The provided code stub reads two integers, a and b, from STDIN.
   * Add logic to print two lines. The first line should contain the result of integer division,  a//b . The second line should contain the result of float division,  a/ b.
   * No rounding or formatting is necessary.

In [28]:
a = int(input())
b = int(input())

print(a//b)
print(a/b)

 3
 5

0
0.6

5 The provided code stub reads an integer,n, from STDIN. For all non-negative integers i<n, print iÂ². Whre n =3. The list of non-negative integers that are less than n = 3 is [1,2,3]. Print the squre of each number in separate line of the code.

In [7]:
n = 3
for i in range(n):
    print(i * i)

0
1
4

6.Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

In [10]:
def is_leapyear(year):
    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 4 == 0:
        return True
    else:
        return False

year = int(input())
print(is_leapyear(year))

 1990

False

7. The included code stub will read an integer n. Without using any string methods, try to print the following:
   123.......n Note that "......" represents the consecutive values in between.
   example: n = 3 output = 123

In [17]:
n = int(input())

for i in range(1, n + 1):
    print(i, end="")

 10

12345678910

### END